<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
</head>
<body>
<a th:if="${currentUser == null}" href="/login">Login</a><br>
<a th:if="${currentUser != null}" href="/logout">Logout</a><br>
<span th:if="${currentUser != null}" th:text="Welcome + ' ' + ${currentUser.name}"></span><br>
<a th:if="${currentUser == null}" href="/register">Register</a> <br>
<a href="/">Home</a><br>
<a th:if="${currentUser != null && currentUser.userRole.name == 'ADMIN'}" href="/admin">Admin Panel</a><br>

My Orders:

<table border="1">
    <tr>
        <th style="color: red">Order Date</th>
        <th style="color: red">Amount</th>
        <th style="color: red">Book title</th>
    </tr>
    <tr th:each="order: ${myOrders}">
        <td th:text="${order.getOrderDateTime()}"></td>
        <td th:text="${order.getAmount()}"></td>
        <td th:text="${order.book.getTitle()}"></td>
    </tr>
</table>
</body>
</html>