<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<a th:if="${currentUser == null}" href="/login">Login</a>
<a th:if="${currentUser != null}" href="/logout">Logout</a>
<span th:if="${currentUser != null}" th:text="Welcome + ${currentUser.name}"/>
<a th:if="${currentUser == null}" href="/register">Register</a>
<a3>Register</a3>
<form action="/register" method="post">
    <input type="text" name="name" placeholder="Please input name"><br>
    <input type="text" name="surname" placeholder="Please input surname"><br>
    <input type="email" name="email" placeholder="Please input email"><br>
    <input type="password" name="password" placeholder="Please input password"><br>
    <input type="number" name="phoneNumber" placeholder="Please input phoneNumber"><br>
    <input type="submit" value="Register">
</form>
</body>
</html>